<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <bean id="huawei" class="com.kaishengit.proxy.Huawei"/>
    <bean id="xiaomi" class="com.kaishengit.proxy.Xiaomi"/>

    <bean id="aopAspect" class="com.kaishengit.aop.AopAspect"/>

    <!--aop配置-->
    <aop:config>
        <aop:aspect ref="aopAspect">
            <aop:pointcut id="myPoint" expression="execution(* com.kaishengit.proxy..*.*(..))"/>
            <aop:before method="beforeInform" pointcut-ref="myPoint"/>
            <aop:after-returning method="afterInform" pointcut-ref="myPoint" returning="result"/>
            <aop:after-throwing method="exceptionInform" pointcut-ref="myPoint" throwing="e"/>
            <aop:after method="finallyInform" pointcut-ref="myPoint"/>
            <!--<aop:around method="around" pointcut-ref="myPoint"/>-->
        </aop:aspect>
    </aop:config>


</beans>