<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kaishengit.mapper.DailyStatisticalMapper">
  <resultMap id="BaseResultMap" type="com.kaishengit.entity.DailyStatistical">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="sum_num" jdbcType="INTEGER" property="sumNum" />
    <result column="sum_momey" jdbcType="DECIMAL" property="sumMomey" />
    <result column="data_time" jdbcType="VARCHAR" property="dataTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, sum_num, sum_momey, data_time
  </sql>
  <select id="selectByExample" parameterType="com.kaishengit.entity.DailyStatisticalExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from daily_statistical
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limit != null">
      <if test="offset != null">
        limit ${offset}, ${limit}
      </if>
      <if test="offset == null">
        limit ${limit}
      </if>
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from daily_statistical
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from daily_statistical
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.kaishengit.entity.DailyStatisticalExample">
    delete from daily_statistical
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.kaishengit.entity.DailyStatistical">
    insert into daily_statistical (id, sum_num, sum_momey, 
      data_time)
    values (#{id,jdbcType=INTEGER}, #{sumNum,jdbcType=INTEGER}, #{sumMomey,jdbcType=DECIMAL}, 
      #{dataTime,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.kaishengit.entity.DailyStatistical">
    insert into daily_statistical
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="sumNum != null">
        sum_num,
      </if>
      <if test="sumMomey != null">
        sum_momey,
      </if>
      <if test="dataTime != null">
        data_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="sumNum != null">
        #{sumNum,jdbcType=INTEGER},
      </if>
      <if test="sumMomey != null">
        #{sumMomey,jdbcType=DECIMAL},
      </if>
      <if test="dataTime != null">
        #{dataTime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.kaishengit.entity.DailyStatisticalExample" resultType="java.lang.Long">
    select count(*) from daily_statistical
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update daily_statistical
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.sumNum != null">
        sum_num = #{record.sumNum,jdbcType=INTEGER},
      </if>
      <if test="record.sumMomey != null">
        sum_momey = #{record.sumMomey,jdbcType=DECIMAL},
      </if>
      <if test="record.dataTime != null">
        data_time = #{record.dataTime,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update daily_statistical
    set id = #{record.id,jdbcType=INTEGER},
      sum_num = #{record.sumNum,jdbcType=INTEGER},
      sum_momey = #{record.sumMomey,jdbcType=DECIMAL},
      data_time = #{record.dataTime,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.kaishengit.entity.DailyStatistical">
    update daily_statistical
    <set>
      <if test="sumNum != null">
        sum_num = #{sumNum,jdbcType=INTEGER},
      </if>
      <if test="sumMomey != null">
        sum_momey = #{sumMomey,jdbcType=DECIMAL},
      </if>
      <if test="dataTime != null">
        data_time = #{dataTime,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kaishengit.entity.DailyStatistical">
    update daily_statistical
    set sum_num = #{sumNum,jdbcType=INTEGER},
      sum_momey = #{sumMomey,jdbcType=DECIMAL},
      data_time = #{dataTime,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>